---
import Picture from "@components/media/Picture.astro"; 
const { full_slug, thumbnail, title, intro, reverse, accent } = Astro.props;
---

<a
  href={`/${full_slug}`}
  class={`group transition-all duration-300 @container ${reverse ? "reverse " : "md:translate-y-20"}`}
>
  <div
    class="intersecting grid h-fit auto-rows-max grid-cols-1 @md:auto-rows-auto @md:grid-cols-6"
  >
    <div
      class={`card-media relativeh-full overflow-hidden rounded-lg @md:col-span-4  @md:row-start-1 ${reverse ? "@md:col-start-3" : "@md:col-start-1"}`}
    >
      <Picture
        src={thumbnail.filename}
        alt="title"
        sizes="(min-width: 1240px) 382px ,(min-width: 1098px) 32vw, (min-width: 640px) calc(50vw - 2.5rem), (min-width: 576px) 45vw, calc(100vw - 2rem)"
        ar={5 / 4}
        layout="fill"
        className="transition-all duration-1000 fade-in group-hover:grayscale-[100%]"
      />
    </div>
    <div
      class={`${accent} scale-in rounded-lg z-20 -mt-14 ml-4 mr-4 h-fit max-w-md text-balance p-3  @md:col-span-3 @md:row-start-1 @md:mx-0 @md:mb-8 @md:mt-auto  ${reverse ? " @md:col-start-1 @md:text-right" : "@md:col-start-4 "}`}
    >
      <h2 class="text-2xl">{title}</h2>
      <div class="line-clamp-3">{intro}</div>
    </div>
  </div>
</a>
